﻿body {
    position: relative;
}
/* Side menu Styles Start */
#ASTmenu {
    visibility: visible;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    background: White;
    overflow-x: hidden;
    transition: 0.5s;
    border-left: 4px solid #000000 !important;
    border-bottom: 4px solid #000000 !important;
}
#ASTmenu * {
    font-family: Open Sans Hebrew, Arial, Helvetica, sans-serif !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.1em;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
#ASTmenu {
    width: 375px;
    height: 100%;
}
#ASTmenu a {
    padding: 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#ASTmenu a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  #ASTmenu a {
      font-size: 18px;
  }
}

#ASTmenu[aria-hidden="true"] {
    right: -400px;
    visibility: hidden;
}

@media (max-width: 768px) {
    #ASTmenu {
        width: 90% !important;
    }
}
#ASTmenu .ASTmenuHeader {
    position: relative;
    padding: 16px 0 14px 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
}
#ASTmenu .ASTmenuHeader h2 {
    display: inline-block;
    position: static;
    float: none;
    margin: 0;
    padding: 0;
    height: auto;
    color: White;
    text-align: center !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: 0;
    transform: scaleY(1.1);
}
#ASTmenu .ASTmenuHeader .ASTmenu-close-btn {
    display: inline-block;
    position: absolute;
    padding: 0;
    top: 10px;
    left: 10px;
    width: auto;
    color: White;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
#ASTmenu .ASTmenuBody {
    display: block;
    margin: 0 auto;
    width: 94%;
    overflow-y: hidden;
    outline: none;
}
#ASTmenu .ASTmenuBody .ASTmenuRow {
    display: inline-block;
    padding: 3px 0;
    border-bottom: 1px solid #d1d2d3;
    width: 100%;
}
#ASTmenu .ASTmenuBody .ASTmenuRow img {
    margin: 0 auto;
    max-height: 35px;
}
#ASTmenu .ASTmenuRowBlock,
#ASTmenu .ASTmenuRowBlockExit {
    padding: 5px 0;
    display: inline-block;
    width: 100%;
}

.ASTmenuRowBlock,
.ASTmenuRowBlockExit {
    cursor: pointer;
}
#ASTmenu .ASTmenuBody .ASTmenuRowBlock:hover, 
#ASTmenu .ASTmenuBody .ASTmenuRowBlock:focus,
#ASTmenu .ASTmenuBody .ASTmenuRowBlockExit:hover, 
#ASTmenu .ASTmenuBody .ASTmenuRowBlockExit:focus {
    background: #baf0b5;
    border-radius: 5px !important;
}
#ASTmenu .ASTmenuBody .ASTmenuRowBlock[aria-pressed="true"] {
    background: #baf0b5;
    border-radius: 5px !important;
    color: #0976bd;
}
#ASTmenu .ASTmenuBody .ASTmenuRowBlock[aria-pressed="true"] .access-title {
    color: #0976bd;
    font-weight: bold;
}
#ASTmenu .ASTmenuBody .ASTmenuRowBlock:hover .access-title, 
#ASTmenu .ASTmenuBody .ASTmenuRowBlock:focus .access-title,
#ASTmenu .ASTmenuBody .ASTmenuRowBlockExit:hover .access-title, 
#ASTmenu .ASTmenuBody .ASTmenuRowBlockExit:focus .access-title,
#ASTmenu .ASTmenuBody .ASTmenuRowBlockExit:hover .access-title-link, 
#ASTmenu .ASTmenuBody .ASTmenuRowBlockExit:focus .access-title-link {
    color: #0976bd;
    font-weight: bold;
}
#ASTmenu .ASTmenuRow div span {
    font-size: 15px;
    color: #515151;
}
#ASTmenu div[aria-pressed="true"] span, 
#ASTmenu div[aria-selected="true"] span {
    color: #0976bd !important;
    fill: #0976bd !important;
    font-weight: bold !important;
}
#ASTmenu .access-icon {
    float: left;
    width: 35%;
}
#ASTmenu .access-title {
    float: right;
    width: 65%;
    text-align: right;
    padding-right: 30px;
    line-height: 35px;
    color: black;
    font-size: 14px;
}
#ASTmenu .access-title .access-title-link,
#ASTmenu .access-title .access-title-link:hover,
#ASTmenu .access-title .access-title-link:focus {
    color: black;
    font-size: 14px;
    padding: 8px 8px;
}
/* Side menu Styles End */




#ASTmenu-btn {
    background: no-repeat;
    background-image: none;
    border: 0;
    position: fixed;
    z-index: 99999;
    top: 30px;
    max-width: 105px;
    right: -55px;
    width: 120px;
    border: 3px solid #0976bd;
    padding: 8px 0px;
    border-radius: 41px;
    background-color: #ffffff;
}
#ASTmenu-btn img {
    float: left;
    max-width: 30px;
}
@media (max-width: 768px) {
    #ASTmenu-btn {
        background: no-repeat;
        background-image: none;
        border: 0;
        position: fixed;
        bottom: 30px;
        top: unset;
        max-width: 95px;
        right: -55px;
        width: 120px;
        border: 3px solid #0976bd;
        padding: 7px 7px;
        border-radius: 41px;
        background-color: #ffffff;
    }
    #ASTmenu-btn img {
        max-width: 25px;
    }   
    .ASTmenuRow[data-rowdopt="whitecursor"],
    .ASTmenuRow[data-rowdopt="blackcursor"],
    .ASTmenuRow[data-rowdopt="magnifier"] {
        display: none !important;
    }
}
.ASTaltTextBox {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    font-size: 24px;
    padding: 7px;
    border-radius: 3px;
    z-index: 9999999;
    display: none;
}

.ASTmenu-block {
    background-image: url(../images/AccMenu.png);
    width: 60px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 12px center;
    float: left;
}
@media (max-width: 768px) {
    .ASTmenu-block {
        background-size: 40%;
        background-position: 2px center;
    }
}
.access-icon.monochrome {
    background-image: url('../images/monochrome.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.blackwhite {
    background-image: url('../images/blackwhite.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.whiteblack {
    background-image: url('../images/whiteblack.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.fontsizeinc {
    background-image: url('../images/fontsizeinc.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 17%;
    background-position: center;
}
.access-icon.fontsizedec {
    background-image: url('../images/fontsizedec.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 17%;
    background-position: center;
}
.access-icon.readablefont {
    background-image: url('../images/readablefont.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.whitecursor {
    background-image: url('../images/whitecursor.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.blackcursor {
    background-image: url('../images/blackcursor.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.magnifier {
    background-image: url('../images/magnifier.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.links {
    background-image: url('../images/links.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.headers {
    background-image: url('../images/headers.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.alttext {
    background-image: url('../images/alttext.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}
.access-icon.disableAccessibility {
    background-image: url('../images/disable_accessibility.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
}


/* Accessibility Styles Start */
    /* Monochrome Start */
    html:not(#ASTdummy) body.ASTmonochrome > :not(#ASTWrap):not(#ASTmenu-btn):not(.modal-backdrop),
    html:not(#ASTdummy) body.ASTmonochrome:before {
		-webkit-filter: grayscale(1);
		-moz-filter: grayscale(1);
		-ms-filter: grayscale(1);
		-o-filter: grayscale(1);
		filter: grayscale(1);
	}
    /* Monochrome End */

    /* Blackwhite Start */
    html:not(#ASTdummy) body.ASTblackwhite > :not(#ASTWrap) img, 
    html:not(#ASTdummy) body.ASTblackwhite > :not(#ASTWrap) input[type="image"],
    html:not(#ASTdummy) body.ASTblackwhite:before {
		-webkit-filter: invert(1);
		-moz-filter: invert(1);
		-ms-filter: invert(1);
		-o-filter: invert(1);
		filter: invert(1);
	}
	html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite iframe, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite iframe *, 
	html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap):not(.swal2-container), 
	html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap) *:not(img) {
		color: White;
		background-color: Black;
	}
	html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > h4, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > h5, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > h6, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > [role="heading"], 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap) h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap) h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap) h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap) h4, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap) h5, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap) h6, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap) [role="heading"] {
        color: Gold;
    }
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > a, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackwhite > :not(#ASTWrap) a {
        outline: 1px dashed Gold;
    }
    /* Blackwhite End */

    /* Whiteblack Start */
    html:not(#ASTdummy) body.ASTwhiteblack > :not(#ASTWrap) img, 
    html:not(#ASTdummy) body.ASTwhiteblack > :not(#ASTWrap) input[type="image"],
    html:not(#ASTdummy) body.ASTwhiteblack:before {
        -webkit-filter: contrast(1.5);
        -moz-filter: contrast(1.5);
        -ms-filter: contrast(1.5);
        -o-filter: contrast(1.5);
        filter: contrast(1.5);
    }
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > h4, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > h5, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > h6, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > [role="heading"], 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap) h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap) h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap) h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap) h4, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap) h5, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap) h6, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap) [role="heading"] {
		color: MidnightBlue;
	}
	html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack iframe, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack iframe *, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap):not(.swal2-container), 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap) *:not(img) {
		color: Black;
		background-color: White;
	}
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > a, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhiteblack > :not(#ASTWrap) a {
        outline: 1px dashed MidnightBlue;
    }
    /* Whiteblack End */

    /* Readablefont Start */
    html:not(#ASTdummy) body:not(#ASTdummy).ASTreadable, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTreadable > :not(#ASTWrap), 
    html:not(#ASTdummy) body:not(#ASTdummy).ASTreadable > :not(#ASTWrap) *:not(i) {
		font-family: Arial !important;
	}
    /* Readablefont End */

    /* Links Start */
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks > a, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks > [role=link], 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks > :not(#ASTWrap) a, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks > :not(#ASTWrap) a h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks > :not(#ASTWrap) a h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks > :not(#ASTWrap) a h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks > :not(#ASTWrap) [role=link], 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks [data-ng-click] h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks [data-ng-click] h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks [data-ng-click] h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightLinks [data-ng-click] > span, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > a, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > [role=link], 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > :not(#ASTWrap) a, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > :not(#ASTWrap) [role=link] {
        color: Red;
        border-bottom: 2px solid red;
        text-decoration: none;
    }
    /* Links End */

    /* Headers Start */
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > h4, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > h5, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > h6, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > [role=heading], 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > :not(#ASTWrap) h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > :not(#ASTWrap) h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > :not(#ASTWrap) h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > :not(#ASTWrap) h4, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > :not(#ASTWrap) h5, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > :not(#ASTWrap) h6, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightHeaders > :not(#ASTWrap) [role=heading], 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > h4, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > h5, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > h6, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > [role=heading], 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > :not(#ASTWrap) h1, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > :not(#ASTWrap) h2, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > :not(#ASTWrap) h3, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > :not(#ASTWrap) h4, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > :not(#ASTWrap) h5, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > :not(#ASTWrap) h6, 
    html:not(#ASTdummy) body:not(#ASTdummy).ASThighlightAll > :not(#ASTWrap) [role=heading] {
        /* outline: 2px dashed LightCoral; */
        font-weight: bold;
        border-bottom: 2px solid #222;
    }
    /* Headers End */

    /* Whitecursor Start */
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor {
        cursor: url('../images/big_white_cursor.png'), auto !important;
    }
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor a,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="link"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor area,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor label,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor audio,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor video,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor button,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="button"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [type="button"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [type="submit"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [type="image"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="radio"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [type="radio"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="checkbox"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [type="checkbox"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor select, html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="combobox"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="option"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="slider"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="scrollbar"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="spinbutton"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [role="tab"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor div.btn-default.form-control,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor input,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor .btn,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [data-ng-click],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [ng-click],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor .ngrs-handle,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor .ngrs-handle i,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor .ngrs-join,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor .ngrs-value,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor .ngrs-range-slider,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor .ngrs-runner,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor [uis-transclude-append],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor .carousel-inner,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTwhitecursor .mainPhotoClass {
        cursor: url('../images/big_white_hand_cursor.png'), auto !important;
    }
    /* Whitecursor End */

    /* Blackcursor Start */
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor {
        cursor: url('../images/big_black_cursor.png'), auto !important;
    }
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor a,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="link"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor area,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor label,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor audio,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor video,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor button,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="button"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [type="button"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [type="submit"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [type="image"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="radio"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [type="radio"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="checkbox"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [type="checkbox"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor select,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="combobox"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="option"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="slider"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="scrollbar"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="spinbutton"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [role="tab"],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .ui-select-match,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor input,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .btn,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [data-ng-click],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [ng-click],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .ngrs-handle,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .ngrs-handle i,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .ngrs-join,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .ngrs-value,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .ngrs-range-slider,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .ngrs-runner,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor [uis-transclude-append],
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .carousel-inner,
    html:not(#ASTdummy) body:not(#ASTdummy).ASTblackcursor .mainPhotoClass {
        cursor: url('../images/big_black_hand_cursor.png'), auto !important;
    }
    /* Blackcursor End */

    /* Magnifier Start */
    html:not(#ASTdummy) body > :not(#ASTWrap) {
        transition: transform 0.6s, zoom 0.6s;
    }
    html:not(#ASTdummy) body.ASTmagnifier > :not(#ASTWrap):not(#ASTmenu-btn) {
        zoom: 1.5;
    }
    /* Magnifier End */

/* Accessibility Styles End */
